<div class="patients-index">

<h1>Medication Routes</h1>
<%= link_to "New Medication Route", new_medication_route_path, class: 'btn btn-info mb-10' %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medication_routes.each do |medication_route| %>
      <tr>
        <td><%= medication_route.name %></td>
        <td><%= link_to 'Edit', edit_medication_route_path(medication_route) %></td>
        <td><%= link_to 'Destroy', medication_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>