<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medication_route.name %>
</p>

<%= link_to 'Edit', edit_medication_route_path(@medication_route) %> |
<%= link_to 'Back', medication_routes_path %>
