<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @frequency_unit.name %>
</p>

<%= link_to 'Edit', edit_frequency_unit_path(@frequency_unit) %> |
<%= link_to 'Back', frequency_units_path %>
