
<div class="jumbotron">
  <h1 class="display-4">Emergency Transfer Summary(Saint Bernard)</h1>
  <p class="lead">Emergency transfer summary</p>
  <%= link_to "Patients", patients_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Github Repo", 'https://github.com/Ray-Hughes/emergency_transfer_summary', class: 'btn btn-secondary btn-lg' %>
</div>